<!DOCTYPE html>
<html class="html" lang="@@lang" dir="ltr">

    <!-- Head -->
    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@@title</title>
        <meta name="description" content="Description Text">
        <meta name="keywords" content="Keywords">
        <meta name="author" content="Plastilin Art">
        <!-- / Meta -->

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />  
        <link rel="stylesheet" href="./assets/styles/style.min.css">

        <!-- / Styles -->
    </head>
    <!-- / Head -->

    <!-- Body -->
    <body class="body html__body js-body">
             <!-- HEADER -->
             <header class="page__header header header--light">
                <div class="header-top">
                    <div class="container">
                        <div class="header-top__row">
                            <a href="#" class="header-top__logo logo">
                                <img src="./assets/images/logo-light.svg" alt="" class="logo__image">
                            </a>
                            <div class="header__main-menu main-menu">
                                <nav class="main-menu__nav">
                                    <ul class='main-menu__visible-links'>
                                        <!-- <li class="main-menu__item main-menu__item--parent">
                                            <a class="main-menu__link" href='#'>
                                                Отрасли
                                                <svg>
                                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                               </svg>
                                            </a>
                                        </li>
                                        <li class="main-menu__item main-menu__item--parent">
                                            <a class="main-menu__link" href='#'>
                                                Завод
                                                <svg>
                                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                               </svg>
                                            </a>
                                        </li>
                                        <li class="main-menu__item main-menu__item--parent">
                                            <a class="main-menu__link" href='#'>
                                                Производство
                                                <svg>
                                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                               </svg>
                                            </a>
                                        </li>
                                        <li class="main-menu__item main-menu__item--parent">
                                            <a class="main-menu__link" href='#'>
                                                Услуги
                                                <svg>
                                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                               </svg>
                                            </a>
                                        </li>
                                        <li class="main-menu__item main-menu__item--parent">
                                            <a class="main-menu__link" href='#'>
                                                Закупки
                                                <svg>
                                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                               </svg>
                                            </a>
                                        </li> -->
                                        <li class="main-menu__item"><a class="main-menu__link" href='#'>Карьера</a></li>
                                        <!-- <li class="main-menu__item"><a class="main-menu__link" href='#'>Контакты</a></li> -->
                                      </ul>
                                      <div class="main-menu__more-button"></div>
                                      <ul class='main-menu__hidden-links hidden'></ul>
                                </nav>
                            </div>
                          
                            <div class="header-top__items">
                                <a href="mailto:info@redanchor.ru" class="header-top__item">
                                    <span class="header-top__item-text">info@redanchor.ru</span>
                                    <svg>
                                        <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#mail"></use>
                                   </svg>
                                </a>
                                <a href="tel:+78312115511" class="header-top__item">
                                    <span class="header-top__item-text">+7 831 211-55-11</span>
                                    <svg>
                                        <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#phone"></use>
                                   </svg>
                                </a>
                                <button class="header__callback-btn callback-btn">
                                    <svg>
                                        <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#phone"></use>
                                   </svg>
                                    Перезвоните мне
                                </button>
                            </div>
                            <div class="header-top__burger burger">
                                <div class="burger__container">
                                   
                                    <svg>
                                        <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#burger"></use>
                                   </svg>
                                </div>
                            </div>
                            
                       </div>
                    </div>
                  
                </div>
                <div class="header-bot">
                   <div class="container">
                    <div class="header-bot__row">
                        <a href="/" class="header-bot__logo logo">
                            <img src="./assets/images/logo-light.svg" alt="">
                        </a>
                        <div class="header__search-button header__search-button--mobile">
                            <svg>
                                <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#loope"></use>
                           </svg>
                           <span class="header__search-button-text">
                                Поиск по каталогу
                           </span>
                        </div>
                        <div class="header__defaulButton-container">
                            <button class="header__productionButton header__defaulButton">
                                <svg class="header__defaulButton-icon">
                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#productIcon"></use>
                               </svg>
                               <span class="header__defaulButton-text">Продукция</span>
                               <svg class="header__defaulButton-dropdownIcon">
                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                </svg>
                            </button>
                            <div class="header__catalog-menu catalog-menu header__dropdown">
                               <div class="catalog-menu__row">
                                <div class="catalog-menu__left" data-simplebar>
                                    <ul class="catalog-menu__main-list">
                                        <li class="catalog-menu__main-list-item js-active" data-item="1">
                                            <a  class="catalog-menu__main-link ">
                                                <img src="./assets/images/icon-dev.svg" alt="">
                                                Якорные цепи и комплектующие
                                            </a>
                                        </li>
                                        <li class="catalog-menu__main-list-item" data-item="2">
                                            <a  class="catalog-menu__main-link">
                                                <img src="./assets/images/icon-dev.svg" alt="">
                                                Цепи и комплектующие для горно-шахтного оборудования
                                            </a>
                                        </li>
                                        <li class="catalog-menu__main-list-item" data-item="3">
                                            <a  class="catalog-menu__main-link">
                                                <img src="./assets/images/icon-dev.svg" alt="">
                                                Грузоподъёмные цепи
                                            </a>
                                        </li>
                                        <li class="catalog-menu__main-list-item" data-item="4">
                                            <a  class="catalog-menu__main-link">
                                                <img src="./assets/images/icon-dev.svg" alt="">
                                                Цепи и комплектующие для цементной промышленности
                                            </a>
                                        </li>
                                        <li class="catalog-menu__main-list-item" data-item="5">
                                            <a  class="catalog-menu__main-link">
                                                <img src="./assets/images/icon-dev.svg" alt="">
                                                Цепи общего назначения
                                            </a>
                                        </li>
                                        <li class="catalog-menu__main-list-item" data-item="6">
                                            <a  class="catalog-menu__main-link">
                                                <img src="./assets/images/icon-dev.svg" alt="">
                                                Несерийная продукция
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="catalog-menu__right">
                                     <div class="catalog-menu__item-right js-active" data-list="1">
                                        <div class="catalog-menu__picture-container">
                                            <picture class="catalog-menu__picture picture">
                                              <!-- <source srcset="./assets/images/content/categories/1920/yak-chain.png" media="(min-width: 1920px)">
                                              <source srcset="./assets/images/content/categories/1600/yak-chain.png" media="(min-width: 1600px)">
                                              <source srcset="./assets/images/content/categories/1366/yak-chain.png" media="(min-width: 1366px)">
                                              <source srcset="./assets/images/content/categories/1024/yak-chain.png" media="(min-width: 1024px)">
                                              <source srcset="./assets/images/content/categories/yak-chain.png" media="(min-width: 600px)"> -->
                                              <img src="./assets/images/header/yak-chain.png" alt="">
                                              </picture>
                                      </div>
                                      <div class="catalog-menu__right-container"   data-simplebar>
                                      <div class="catalog-menu__submenu-title">
                                        <a href="#">
                                          Якорные цепи и комплектующие
                                        </a>
                                      </div>
                                      <ul class="catalog-menu__submenu-list submenu-list">
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                      </ul>
                                     </div>
                                        
                                      
                                    </div>
                                    <div class="catalog-menu__item-right" data-list="2">
                                        <div class="catalog-menu__picture-container">
                                            <picture class="catalog-menu__picture picture">
                                              <!-- <source srcset="./assets/images/content/categories/1920/yak-chain.png" media="(min-width: 1920px)">
                                              <source srcset="./assets/images/content/categories/1600/yak-chain.png" media="(min-width: 1600px)">
                                              <source srcset="./assets/images/content/categories/1366/yak-chain.png" media="(min-width: 1366px)">
                                              <source srcset="./assets/images/content/categories/1024/yak-chain.png" media="(min-width: 1024px)">
                                              <source srcset="./assets/images/content/categories/yak-chain.png" media="(min-width: 600px)"> -->
                                              <img src="./assets/images/header/yak-chain.png" alt="">
                                              </picture>
                                      </div>
                                      <div class="catalog-menu__right-container"   data-simplebar>
                                      <div class="catalog-menu__submenu-title">
                                        <a href="#">
                                          Якорные цепи и комплектующие
                                        </a>
                                      </div>
                                      <ul class="catalog-menu__submenu-list submenu-list">
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                      </ul>
                                     </div>
                                        
                                      
                                    </div>
                                    <div class="catalog-menu__item-right" data-list="3">
                                        <div class="catalog-menu__picture-container">
                                            <picture class="catalog-menu__picture picture">
                                              <!-- <source srcset="./assets/images/content/categories/1920/yak-chain.png" media="(min-width: 1920px)">
                                              <source srcset="./assets/images/content/categories/1600/yak-chain.png" media="(min-width: 1600px)">
                                              <source srcset="./assets/images/content/categories/1366/yak-chain.png" media="(min-width: 1366px)">
                                              <source srcset="./assets/images/content/categories/1024/yak-chain.png" media="(min-width: 1024px)">
                                              <source srcset="./assets/images/content/categories/yak-chain.png" media="(min-width: 600px)"> -->
                                              <img src="./assets/images/header/yak-chain.png" alt="">
                                              </picture>
                                      </div>
                                      <div class="catalog-menu__right-container"   data-simplebar>
                                      <div class="catalog-menu__submenu-title">
                                        <a href="#">
                                          Якорные цепи и комплектующие
                                        </a>
                                      </div>
                                      <ul class="catalog-menu__submenu-list submenu-list">
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                      </ul>
                                     </div>
                                        
                                      
                                    </div>
                                    <div class="catalog-menu__item-right" data-list="4">
                                        <div class="catalog-menu__picture-container">
                                            <picture class="catalog-menu__picture picture">
                                              <!-- <source srcset="./assets/images/content/categories/1920/yak-chain.png" media="(min-width: 1920px)">
                                              <source srcset="./assets/images/content/categories/1600/yak-chain.png" media="(min-width: 1600px)">
                                              <source srcset="./assets/images/content/categories/1366/yak-chain.png" media="(min-width: 1366px)">
                                              <source srcset="./assets/images/content/categories/1024/yak-chain.png" media="(min-width: 1024px)">
                                              <source srcset="./assets/images/content/categories/yak-chain.png" media="(min-width: 600px)"> -->
                                              <img src="./assets/images/header/yak-chain.png" alt="">
                                              </picture>
                                      </div>
                                      <div class="catalog-menu__right-container"   data-simplebar>
                                      <div class="catalog-menu__submenu-title">
                                        <a href="#">
                                          Якорные цепи и комплектующие
                                        </a>
                                      </div>
                                      <ul class="catalog-menu__submenu-list submenu-list">
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                      </ul>
                                     </div>
                                        
                                      
                                    </div>
                                    <div class="catalog-menu__item-right" data-list="5">
                                        <div class="catalog-menu__picture-container">
                                            <picture class="catalog-menu__picture picture">
                                              <!-- <source srcset="./assets/images/content/categories/1920/yak-chain.png" media="(min-width: 1920px)">
                                              <source srcset="./assets/images/content/categories/1600/yak-chain.png" media="(min-width: 1600px)">
                                              <source srcset="./assets/images/content/categories/1366/yak-chain.png" media="(min-width: 1366px)">
                                              <source srcset="./assets/images/content/categories/1024/yak-chain.png" media="(min-width: 1024px)">
                                              <source srcset="./assets/images/content/categories/yak-chain.png" media="(min-width: 600px)"> -->
                                              <img src="./assets/images/header/yak-chain.png" alt="">
                                              </picture>
                                      </div>
                                      <div class="catalog-menu__right-container"   data-simplebar>
                                      <div class="catalog-menu__submenu-title">
                                        <a href="#">
                                          Якорные цепи и комплектующие
                                        </a>
                                      </div>
                                      <ul class="catalog-menu__submenu-list submenu-list">
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                      </ul>
                                     </div>
                                        
                                      
                                    </div>
                                    <div class="catalog-menu__item-right" data-list="6">
                                        <div class="catalog-menu__picture-container">
                                            <picture class="catalog-menu__picture picture">
                                              <!-- <source srcset="./assets/images/content/categories/1920/yak-chain.png" media="(min-width: 1920px)">
                                              <source srcset="./assets/images/content/categories/1600/yak-chain.png" media="(min-width: 1600px)">
                                              <source srcset="./assets/images/content/categories/1366/yak-chain.png" media="(min-width: 1366px)">
                                              <source srcset="./assets/images/content/categories/1024/yak-chain.png" media="(min-width: 1024px)">
                                              <source srcset="./assets/images/content/categories/yak-chain.png" media="(min-width: 600px)"> -->
                                              <img src="./assets/images/header/yak-chain.png" alt="">
                                              </picture>
                                      </div>
                                      <div class="catalog-menu__right-container"   data-simplebar>
                                      <div class="catalog-menu__submenu-title">
                                        <a href="#">
                                          Якорные цепи и комплектующие
                                        </a>
                                      </div>
                                      <ul class="catalog-menu__submenu-list submenu-list">
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                           <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якорные цепи</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Такелажные изделия</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Комплектующие якорных цепей</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Стопоры цепные якорных устройств</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для оффшорных платформ</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Якоря</a></li>
                                          <li class="submenu-list__item"><a href="#" class="submenu-list__link">Цепи для крепления отбойных устройств причальных сооружений</a></li>
                                      </ul>
                                     </div>
                                        
                                      
                                    </div>
                                </div>
                               </div>
                            </div>
                            <div class="bgShadow"></div>
                        </div>
                        <div class="header__search-form search-form">
                            <div class="search-form__input-container">
                                <input type="text" class="search-form__input" placeholder="Поиск по каталогу">
                                <button class="search-form__button">
                                    <svg class="search-form__buttonIcon">
                                        <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#loope"></use>
                                   </svg>
                                </button>
                            </div>
                        </div>
                        <!-- <div class="header__defaulButton-container header__defaulButton-container--desk">
                            <button class="header__buyerButton header__defaulButton">
                                <svg class="header__defaulButton-icon">
                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#buyer"></use>
                               </svg>
                               <span class="header__defaulButton-text">Покупателю</span>
                               <svg class="header__defaulButton-dropdownIcon">
                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#triangle"></use>
                                </svg>
                            </button>
                        </div> -->
                        <div class="header__yourOrderInfo yourOrderInfo">
                            <div class="yourOrderInfo__container">
                                <svg class="svg svg--default">
                                    <use xlink:href="./assets/images/svg-sprite/svg-sprite.svg#orderList"></use>
                               </svg>
                               <span class="yourOrderInfo__text">Ваш заказ</span>
                               <span class="yourOrderInfo__value">999</span>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
</header>
<!-- / HEADER -->